<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
           <!--oracle设置为null 解决为空时问题-->
        <!-- 设置JDBC类型为空时,某些驱动程序 要指定值,default:OTHER-->
        <setting name="jdbcTypeForNull" value="NULL"/>
        </settings>
<!--    <typeAliases type="com.example.demo.domain.UserInfo" alias="UserInfo"></typeAliases>-->
<!--    <plugins>-->
<!--        <plugin interceptor=""></plugin>-->
<!--    </plugins>-->
<!--    <environments default="">-->
<!--        <environment id="">-->
<!--                &lt;!&ndash; 事务管理器工厂配置 &ndash;&gt;-->
<!--                <transactionManager type="org.apache.ibatis.transaction.jdbc.JdbcTransactionFactory"/>-->
<!--                &lt;!&ndash; 数据源工厂配置，使用工厂来创建数据源 &ndash;&gt;-->
<!--                <dataSource type="org.apache.ibatis.datasource.pooled.PooledDataSourceFactory">-->
<!--                    <property name="driver" value="com.mysql.jdbc.Driver"/>-->
<!--                    <property name="url" value="jdbc:mysql://47.105.184.98:3306/album?characterEncoding=utf-8&amp;useSSL=false"/>-->
<!--                    <property name="username" value="root"/>-->
<!--                    <property name="password" value="Root1234_56"/>-->
<!--                </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->

    <mappers>
        <mapper resource="com.example.demo.mapper.UserMapper"></mapper>
        <mapper resource="com.example.demo.mapper.RoleMapper"></mapper>
    </mappers>
</configuration>