<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
           <!--oracle设置为null 解决为空时问题-->
        <!-- 设置JDBC类型为空时,某些驱动程序 要指定值,default:OTHER-->
        <setting name="jdbcTypeForNull" value="NULL"/>
        </settings>
<!--    <typeAliases type="com.example.demo.domain.UserInfo" alias="UserInfo"></typeAliases>-->
    <plugins>
        <plugin interceptor=""></plugin>
    </plugins> <environments default="">
    <environments default="">
        <environment id="">
            <transactionManager type=""></transactionManager>
            <dataSource type=""></dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper></mapper>
    </mappers>
</configuration>