<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="application.properties"></properties>
        <settings>
           <!--oracle设置为null 解决为空时问题-->
        <!-- 设置JDBC类型为空时,某些驱动程序 要指定值,default:OTHER-->
            <setting name="jdbcTypeForNull" value="NULL"/>
<!--            开启自动映射-->
            <setting name="autoMappingBehavior" value="FULL"/>
<!--            开启全局延迟加载-->
            <setting name="lazyLoadingEnabled" value="true"/>
<!--            开启二级缓存-->
            <setting name="cacheEnabled" value="true"/>

        </settings>

<!--    <typeAliases type="com.example.demo.domain.UserInfo" alias="UserInfo"></typeAliases>-->
<!--    <plugins>-->
<!--        <plugin interceptor=""></plugin>-->
<!--    </plugins>-->
<!--    <environments default="test">-->
<!--        <environment id="test">-->
                <!-- 事务管理器工厂配置 -->
<!--                <transactionManager type="JDBC"/>-->
                <!-- 数据源工厂配置，使用工厂来创建数据源 -->
<!--                <dataSource type="POOLED">-->
<!--                    <property name="driver" value="com.mysql.jdbc.Driver"/>-->
<!--                    <property name="url" value="jdbc:mysql://47.105.184.98:3306/album?characterEncoding=utf-8&amp;useSSL=false"/>-->
<!--                    <property name="username" value="root"/>-->
<!--                    <property name="password" value="Root1234_56"/>-->
<!--                </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->

    <mappers>
        <package name="com.example.demo.mapper" ></package>
<!--        <package name="com.example.demo.mapper.RoleMapper"></package>-->
    </mappers>
</configuration>