<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CommentsMapper">
    <resultMap id="CommentResultMap" type="com.example.demo.domain.Comments">
        <id property="id" column="id"/>
        <result property="body" column="body"/>
        <result property="timestamp" column="timestamp"/>
        <result property="disabled" column="disabled"/>
        <result property="authorId" column="author_id"/>
        <result property="photoId" column="photo_id"/>
    </resultMap>
    <insert id="postComments" useGeneratedKeys="true" keyProperty="id">
        insert  into comments(body, `timestamp`, disabled, author_id, photo_id) VALUE (#{body},#{timestamp},#{disabled},#{authorId},#{photoId})
    </insert>
    <update id="editComments"></update>
    <delete id="deleteComments"></delete>
    <select id="getCommentsByphotoId" resultType="com.example.demo.domain.Comments"></select>
    <select id="getCommentsByUserId" resultType="com.example.demo.domain.Comments"></select>
    <select id="getComments" resultMap="CommentResultMap">
        select * from comments;
    </select>
    <select id="getCommentsMap" resultType="com.example.demo.domain.Comments" parameterType="map">
        select * from comments;
    </select>
    <select id="queryComment" resultMap="CommentResultMap" parameterType="map">
        select * from comments
        <where>
            <if test="timestamp!='' and timestamp!=null">
                timestamp =#{timestamp}
            </if>
            <if test="disabled!=''  and disabled!=null">
                and disabled=#{disabled}
            </if>
            <if test="photoId!='' and photoId!=null">
                and photoId=#{photoId}
            </if>
            <if test="authorId!=''  and authorId!=null">
               and authorId=#{authorId}
        </if>
        </where>
    </select>
</mapper>