<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MessagesMapper">
    <resultMap id="MessageResultMap" type="com.example.demo.domain.Messages">
        <id property="id" column="id"/>
        <result property="body" column="body"/>
        <result property="disabled" column="disabled"/>
        <result property="timestamp" column="timestamp"/>
        <result property="userId" column="user_id"/>
        <result property="authorId" column="author_id"/>
    </resultMap>
    <insert id="postMessages"></insert>


</mapper>