<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PhotoMapper">
    <resultMap id="roleResultMap" type="com.example.demo.domain.Photos">
        <id property="id" column="id"/>
        <result property="url" column="url"/>
        <result property="urlS" column="urlS"/>
        <result property="urlT" column="urlT"/>
        <result property="about" column="about"/>
        <result property="timestamp" column="timestamp"/>
        <result property="order" column="order"/>
        <result property="authorId" column="authorId"/>
        <result property="albumId" column="albumId"/>
    </resultMap>

    <insert id="addPhotos">
        insert  photos(id,url,urlS,urlT,about,`timestamp`,`order`,authorId,albumId ) value(#{id},#{url},#{urlS},#{urlT},#{about},#{timestamp},#{order},#{authorId},#{albumsId})
    </insert>
    <update id="editPhotos"></update>
    <delete id="deletePhotos"></delete>
    <select id="getPhotosByAlbumsId" resultType="com.example.demo.domain.Photos"></select>
    <select id="getPhotosById" resultType="com.example.demo.domain.Photos"></select>


</mapper>