<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RoleMapper">
<!--    <resultMap id="roleserResultMap" type="com.example.demo.domain.Roles">-->
<!--        <constructor>-->
<!--            <idArg  column="id" javaType="int"></idArg>-->
<!--        </constructor>-->
<!--        <id property="id" column="id"/>-->
<!--        <result property="name" column="name"/>-->
<!--        <result property="isDefault" column="isDefault"/>-->
<!--        <result property="permissions" column="permissions"/>-->
<!--    </resultMap>-->
    <insert id="addRole" parameterType="com.example.demo.domain.Roles">
        insert into roles (id,name,permissions,`default`) value  (#{id},#{name},#{permissions},#{isDefault})
    </insert>
    <update id="updateRole" parameterType="com.example.demo.domain.Roles">
        update roles set name =#{name}, `default`= #{isDefault} where id = #{id}
    </update>
    <select id="getRole">
        select * from roles;
    </select>
    <select id="getRoleByName" resultType="com.example.demo.domain.Roles">
        select  * from roles where name=#{name}
    </select>
    <select id="getRoleById" resultType="com.example.demo.domain.Roles">
        select * from roles where id=#{id}
    </select>

</mapper>